extend ./template.pug

block content
  .row
    .col
      .card(style='width: 18rem;')
        img.card-img-top(src='https://www.long-mcquade.com/files/1250/home_9f43d23ee38953572446a69462341747.jpg' alt='...')
        .card-body
          h5.card-title Card title
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          a.btn.btn-primary(href='#') Go somewhere
    .col
      .card(style='width: 18rem;')
        img.card-img-top(src='https://www.long-mcquade.com/files/22419/home_elprohbnh.jpg' alt='...')
        .card-body
          h5.card-title Card title
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          a.btn.btn-primary(href='#') Go somewhere
    .col
      .card(style='width: 18rem;')
        img.card-img-top(src='https://www.long-mcquade.com/files/96433/home_de212b13965808237f6886fc2d0320eb.png' alt='...')
        .card-body
          h5.card-title Card title
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          a.btn.btn-primary(href='#') Go somewhere